.btn {
  padding: 1.2rem 2.4rem;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: var(--text-1);
  font-weight: 600;
  transition: all 300ms ease;
  font-family: inherit;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn-fill {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
}

.btn-outline-blue {
  background-color: transparent;
  border: 1px solid var(--text-blue);
  color: var(--text-blue);
}
