.hero {
  position: relative;
  margin-top: 13rem;
  background-color: var(--bg-primary);
  height: max-content;
  padding: 2rem 0;
}

.hero .container {
  max-width: var(--container-lg);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.hero__right img {
  /* transform: scale(0.8); */
  display: inline-block;
  position: relative;
  border-radius: 10px;

  width: 26rem;
  height: 26rem;
  object-fit: cover;
}

.hero__btn {
  display: flex;
  gap: 2rem;
}

/* .hero__right img:nth-child(4), */
.hero__right img:nth-child(5),
.hero__right img:nth-child(6) {
  display: none;
}

.hero__content {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
}

.hero__right {
  flex: 1;
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.hero__right img:nth-child(1),
.hero__right img:nth-child(2) {
  align-self: end;
}

.hero__right img:nth-child(1),
.hero__right img:nth-child(3) {
  justify-self: end;
}

.hero__right img:nth-child(2),
.hero__right img:nth-child(4) {
  justify-self: start;
}

.hero__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.hero__left h1 {
  text-align: left;
  font-size: 4rem;
  width: 95%;
}

.hero__left p {
  text-align: left;
  max-width: 60rem;
  width: 90%;
  font-weight: 400;
  font-size: var(--text-2);
  line-height: 2.4rem;
  color: var(--text-light);
}

.hero__mobile {
  display: none;
}

.feature__section {
  /* border: 1px solid red; */
  margin-top: 8rem;
}

.featured__box {
  position: relative;
  /* border: 1px solid black; */
  max-width: calc(var(--container-lg) + 1rem);
  margin: 0 auto;
  padding: 0 1rem;
}

/* carousel custom styling */
.featured__box .swiper-button-next::after,
.featured__box .swiper-button-prev::after {
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-primary);
}

.featured__box .swiper-button-next,
.featured__box .swiper-button-prev {
  text-align: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 46rem;
  transform: translateY(-50%);
  /* z-index: 20; */
}

.featured__box .swiper-button-next {
  right: 45%;
}

.featured__box .swiper-button-prev {
  left: 45%;
}

.mySwiper {
  /* border: 1px solid red; */
  padding-bottom: 7rem;
}

.lodges__section-1 {
  /* border: 1px solid red; */
  margin-top: 8rem;
}

.lodges__box {
  position: relative;
  /* border: 1px solid black; */
  max-width: calc(var(--container-lg) + 1rem);
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 3rem;
  column-gap: 0.5rem;
}

.market__place {
  margin-top: 8rem;
}

.market__place-content {
  background-color: var(--bg-secondary);
  padding: 2rem 0;
}

.market__place-content-container {
  position: relative;
  max-width: calc(var(--container-lg) + 1rem);
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  /* display: grid;
  grid-template-columns: 1.5fr 2fr; */
}

.market__place-content-container .left {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: center;
  /* border: 1px solid red; */
  padding-left: 5rem;
}

.market__place-content-container .right {
  position: relative;
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.market__place-content-container .right img {
  display: block;
  /* width: 100%; */
  /* transform: scale(0.8); */
}

.market__place-content-container .right img:nth-child(1) {
  width: 100%;
  height: 50rem;
  /* transform: translateY(-50%); */
}

.market__place-content-container .right img:nth-child(2) {
  position: absolute;
  width: 67%;
  right: 5rem;
  top: 65%;
  /* transform: translateY(-50%); */
}

.market__place-content-container .left h3,
.market__place-content-container .left p {
  max-width: 50rem;
  /* text-align: center; */
}

.market__place-content-container .left p {
  font-size: var(--text-2);
  color: var(--text-light);
}

.market__place-content-container .market-place-btn {
  /* width: max-content; */
  margin-top: 3.5rem;
}

@keyframes animateArrow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* MEDIA QUERIES */
/* @1210px */
@media screen and (max-width: 75.625rem) {
  .hero__right img {
    width: 20rem;
    height: 20rem;
  }
}

/* @950 */
@media screen and (max-width: 59.375em) {
  .featured__box .swiper-button-next,
  .featured__box .swiper-button-prev {
    display: none;
  }

  .market__place-content-container .right {
    display: none;
  }

  .market__place-content-container .left {
    flex: 1;
    align-items: center;
    padding-left: 0;
  }

  .market__place-content-container .left h3,
  .market__place-content-container .left p {
    text-align: center;
  }
}

/* @965px */
@media screen and (max-width: 60.3125em) {
  .hero__right img {
    width: 23rem;
    height: 27rem;
  }

  .hero {
    height: max-content;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .hero__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .hero__left h1 {
    font-size: 3.8rem;
    text-align: center;
  }

  .hero__left p {
    max-width: 70rem;
    text-align: center;
  }

  .hero__right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

/* @862px */
@media screen and (max-width: 53.875em) {
  .hero__right img:nth-child(4) {
    display: inline-block;
  }
}

@media screen and (max-width: 37.5em) {
  .hero__content {
    display: none;
  }

  .hero {
    height: max-content;
  }

  .hero .container {
    padding: 0 1.5rem;
  }

  .hero__mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
  }

  .hero__mobile-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .hero__mobile-content h2 {
    text-align: center;
  }

  .hero__mobile-content p {
    text-align: center;
  }

  .hero__mobile-btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hero__carousel img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 45rem;
    object-fit: cover;
  }
}

@media screen and (max-width: 37.5em) {
  .market__place-content-container .left h3 {
    font-size: var(--text-3);
  }

  .market__place-content-container .left p {
    font-size: var(--text-1);
  }
}
