.signup__body {
  margin-top: 13rem;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.signup-form {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  border-radius: 5px;
}

.signup-form h3 {
  text-align: center;
  color: var(--text-dark);
  font-weight: 700;
}

.signup-form .account-question,
.signup-form p {
  text-align: center;

  font-weight: 400;
  font-size: var(--text-1);

  color: var(--text-dark);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: baseline;
}

.signup-form .account-question p {
  color: var(--text-primary);
  text-decoration: underline;
  cursor: pointer;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid red; */
}

.signup-form-group label {
  font-weight: 600;
  font-size: var(--text-1);
  color: var(--text-dark);
}

.signup-form-group input {
  /* width: 90%; */
  height: 6rem;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--bg-neutral);
  font-family: inherit;
  color: var(--text-dark);
  padding: 0 2rem;
  font-size: var(--text-1);
}

.signup-form-group > div {
  position: relative;
}

.signup-form-group .visibles-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  display: flex;
  align-items: center;
}

.signup-form-group .visibles-icon .signup-eye-open {
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-light);
  opacity: 0.55;
}

.signup-form-group .visibles-icon .signup-eye-close {
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-light);
  opacity: 0.55;
}

.signup-form-group .visibles-icon .signup-eye-open.hidden {
  display: none;
}
.signup-form-group .visibles-icon .signup-eye-close.hidden {
  display: none;
}

.signup-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  font-size: 2.5rem !important;
}

.signup-form-btn {
  background-color: var(--text-primary);
  height: 6rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: var(--text-1);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
}

.signup-form-google {
  background-color: white;
  border: 1px solid var(--bg-neutral);
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 6rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: var(--text-1);
}

.signup-form-icon {
  color: var(--text-blue);
  font-size: var(--text-3) !important;
  margin-right: 1rem;
}

.signup-institution {
  display: block;
  border: 1px solid var(--bg-neutral);
  margin-left: 0;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
}

/* .signup-form .select_institution {
  height: 6rem;
  border-radius: 20px;
} */

@media screen and (max-width: 28.125em) {
  .signup-form {
    width: 95%;
  }

  .signup-form .account-question {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
